* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    background-color: deeppink;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    counter-reset: thiscount;
}

span {
    color:darkgreen;
}

#zdalna {
    text-decoration: none;
    text-transform: capitalize;
    font-variant: small-caps;
    color:dimgrey;
    text-shadow: 2px 3px 3px rgba(250,0,0,1);
    font-size: 1.1rem;
}


h1 {
    padding: 2rem;
    color: darkcyan;
    background-color:fuchsia;
}

.main {
    min-height: 100%;
    margin-bottom: -50px;
    
}

.sticky, footer {
    height: 50px;
}

.cart {
    position:relative;
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 5px;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    font-weight: 600;
    color:chocolate;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
-webkit-box-shadow: 2px 10px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 24px 6px rgba(0,0,0,0.75);
box-shadow: 2px 10px 24px 6px rgba(0,0,0,0.75);    
}

.cart:before {
    
    position:absolute;
    top: -15%;
    left: -5%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align:text-bottom;
    text-align: center;
    border-radius: 50%;
    background-color: yellow;
    font-size: 2rem;
    color: darkblue;
    counter-increment: thiscount;
    content: counter(thiscount);
}

.cart:nth-child(5) {
    counter-reset: thiscount;
}


.cart:nth-child(1):after, .cart:nth-child(2):after, .cart:nth-child(3):after, .cart:nth-child(4):after {
    position: absolute;
    content: 'Freelancer /zlecenia';
    top: 60px;
    right: -110px;
    padding: 10px;
    background-color: white;
    transform: rotatez(90deg);
    
}

.cart ul {
    list-style-type: none;
    text-align: left;
}

footer {
    padding: 1rem;
    background-color:darksalmon
}

footer p {
    letter-spacing: 0.1rem;
    
}

footer a {
    text-decoration: overline;
    color:darkred;
    font-style: oblique;
    font-weight: bold;
}

@supports (display: flex) {
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .cart {
        align-self: center;
    }
}